<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="ResumeScreenerSuite"  >
    <test name="Unit tests">
        <classes>
            <class name="com.example.resume.submission.SubmissionServiceTest"/>
            <class name="com.example.resume.screeningresult.ScreeningResultServiceTest"/>
        </classes>
    </test>
    <test name="Integration tests">
        <classes>
            <class name="com.example.resume.submission.SubmissionControllerTest"/>
        </classes>
    </test>
    <test name="Functional tests">
        <classes>
            <class name="com.example.resume.submission.SubmissionFunctionalTests"/>
        </classes>
    </test>
</suite>